<h1>Nuevo Centro de Atención Especializado</h1>

<div style="text-align: center;">

  <form>
    
    <mat-form-field>
      <input matInput placeholder="Nombre">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Dirección">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="País">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Provincia">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Ciudad">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Correo Electrónico">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Teléfono">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
      <input matInput placeholder="Nombre Profesional">
    </mat-form-field>
    
    <br>
    
    <button mat-raised-button color=primary type="submit" value="Enviar">Enviar</button>
    &nbsp;
    <button mat-raised-button color=accent type="reset" value="Reset">Borrar</button>
    &nbsp;
    <button mat-raised-button color=warn type="button" value="Cancelar">Cancelar</button>
  </form>

</div>